<!--================ Start footer Area  =================-->	
<footer>
    <div class="footer-area footer-only">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets ">
                        <h4 class="footer_title large_title">Our Mission</h4>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no 
                            divided deep moved us lan Gathering thing us land years living.
                        </p>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved 
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Brand</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title">Gallery</h4>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li><img src="/img/gallery/r1.jpg" alt=""></li>
                            <li><img src="/img/gallery/r2.jpg" alt=""></li>
                            <li><img src="/img/gallery/r3.jpg" alt=""></li>
                            <li><img src="/img/gallery/r5.jpg" alt=""></li>
                            <li><img src="/img/gallery/r7.jpg" alt=""></li>
                            <li><img src="/img/gallery/r8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                Head Office
                            </p>
                            <p>123, Main Street, Your City</p>

                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                Phone Number
                            </p>
                            <p>
                                +123 456 7890 <br>
                                +123 456 7890
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                Email
                            </p>
                            <p>
                                free@infoexample.com <br>
                                www.infoexample.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->


<script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/vendors/skrollr.min.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/vendors/mail-script.js"></script>
<script src="/js/main.js"></script>

<!-- <script src="/js/registerValidation.js"></script> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- <script src="sweetalert2.all.min.js"></script> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" ></script> -->

<script>


function addToCart(id) {
    $.ajax({
      url: "/addToCart/" + id,
      success: (response) => {
        if (response.success == true) {
          swal({
            title: "Product added to Cart",
            icon: "success",
            confirmButtonText: "continue",
          }).then(function() {
          location.reload();
        });
         
         
        }else if(response.success==false){
          swal({
            title: "Temporarily out of stock",
            icon: "error",
            confirmButtonText: "continue",
          });
        }else if(response.status==false){
          swal({
            title: "No more stock available",
            icon: "error",
            confirmButtonText: "continue",
          });
        }

        else {
          swal({
            title: "Login to Continue shopping",
            icon: "error",
            confirmButtonText: "continue",
          });
        
        }
      },
    });
  }



  function changeQuantity(cartId, productId, count) {
    event.preventDefault();
    const inputElement = document.getElementById(productId);
    const quantity = inputElement.value;
   


    $.ajax({
      url: "/changeQuantity",
      data: {
        cart: cartId,
        product: productId,
        count: count,
        quantity: quantity,
     
      },
      method: "post",
      success: (response) => {

        if (response.success) {

          document.getElementById(productId).value = parseInt(quantity) + count;       
          document.getElementById("sum").innerHTML = "₹" + response.sum;
        

          response.productData.forEach((product) => {
          const productId = product._id;
          const total = product.total;

          const element = document.querySelector(`#sum1${productId}`);
          if (element) {
             element.innerHTML = "₹" + total;
          }
         });
    
          console.log(response);
        }
        if (response.quantity) {
          swal({
          title:"Product will be removed from cart",
          icon:"error",
          confirmButtonText:"Ok"
        }).then(()=>{
          location.reload();
        })
       
        }
        if(response.status==false){
          swal({
          title:"No more stock available",
          icon:"error",
          confirmButtonText:"Ok"
        })
        }
        
      },
    });
  };


  
  function removeProduct(cartId, productId,id) {
    $.ajax({
      url: "/removeProduct/",
      data: {
        cart: cartId,
        product: productId,
        
      },
      method: "post",
      success: () => {


        swal({
          title: "Product removed from cart!",
          icon: "success",
          confirmButtonText: "OK",
        })
        .then(function() {
          location.reload();
        });
      },
    });
  }

 
  function addToWishlist(productId) {
    $.ajax({
      url: "/addToWishlist/" + productId,
      method: "get",
      success: (response) => {
        if (response.status) {

        
          swal({
            title: "Added to wishlist",
            icon: "success",
            confirmButtonText: "continue",
          });
        } else if (response.productExist) {
          swal({
            title: "Already Exist in wishlist",
            icon: "error",
            confirmButtonText: "continue",
          });
        } else {
          swal({
            title: "Not logged in",
            text: "Please log in !",
            icon: "error",
          });
        }
      },
    });
  };

  function removeFromWishlist(wishlistId,productId){
    $.ajax({
      url:"/removeFromWishlist",
      method:"post",
      data:{
        wishlistId,
        productId
      },
      success: ()=>{
        
          swal({
          title:"Product removed from wishlist",
          icon:"success",
          confirmButtonText:"Ok"
        }).then(()=>{
          location.reload();
        })
        
       
      }
    })
  };

  $("#placeOrder").submit((e)=>{
    e.preventDefault();
    $.ajax({
      url:"/placeOrder",
      method:"post",
      data:$("#placeOrder").serialize(),
      success:(response)=>{

        if(response.couponDeleted){
          swal({
            title: "Coupon no longer exist!",
            icon: "error",
            confirmButtonText: "continue",
          }).then(function() {
            // location.reload();
          });
        }else if(response.couponExpired){
          swal({
            title: "Coupon expired!",
            icon: "error",
            confirmButtonText: "continue",
          }).then(function() {
            
          });
        }else if(response.coupon){

          swal({
            title: "Coupon already used!",
            icon: "error",
            confirmButtonText: "continue",
          }).then(function() {
           
          });
        }  else if(response.couponMinlimit){
            swal({
            title:"purchase more",
            icon:"error",
            confirmButtonText:"continue"
          }).then(()=>{
           
          });
        }else if(response.invalid){
          swal({
            title:"Invalid Coupon",
            icon:"error",
            confirmButtonText:"continue"
          }).then(()=>{
           
          });
        }else if(response.wallet){

          swal({
            title:"Insufficient balance in wallet",
            icon:"error",
            confirmButtonText:"continue"
          }).then(()=>{
           
          });


        }else if(response.success){
          const orderId = response.orderId
          // location.href = `/orderSuccess/${orderId}`
          location.href ="/orderSuccess";
        }else{
          razorpay(response.order);
          console.log("order in ajax is",order)
        }
       
      }

    })
  });

  $('#applyCoupon').submit((e)=>{
    e.preventDefault();
    $.ajax({
      url:"/applyCoupon",
      method:"post",
      data:$("#applyCoupon").serialize(),
      success:(response)=>{

        if(response.couponDeleted){
          swal({
            title: "Coupon no longer exist!",
            icon: "error",
            confirmButtonText: "continue",
          }).then(function() {
            // location.reload();
          });
        }else if(response.couponExpired){
          swal({
            title: "Coupon expired!",
            icon: "error",
            confirmButtonText: "continue",
          }).then(function() {
            
          });
        }
        
        
        else if(response.coupon){

          swal({
            title: "Coupon already used!",
            icon: "error",
            confirmButtonText: "continue",
          }).then(function() {
           
          });
        }
          else if(response.couponMinlimit){
            swal({
            title:"purchase more",
            icon:"error",
            confirmButtonText:"continue"
          }).then(()=>{
           
          });

        }else if(response.invalid){
          swal({
            title:"Invalid Coupon",
            icon:"error",
            confirmButtonText:"continue"
          }).then(()=>{
           
          });
        }
      }
    })
  });
















</script>


</body>
</html>